<!--
    Ivan Chen, Emaan Asif, Jake Liu, Jalen Chen
    SoftDev 2026
    p04
-->

<!DOCTYPE html>

<!--
https://tailwindcss.com/plus/ui-blocks/application-ui/forms/sign-in-forms
-->

<html class="h-full bg-gray-900">

    <head>    <meta name="viewport" content="width=device-width, initial-scale=1.0" />    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>  </head>
    <body class="h-full">

    <!--
      This example requires updating your template:

      ```
      <html class="h-full bg-gray-900">
      <body class="h-full">
      ```
    -->
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class="mb-4 text-center">
          {% for msg in messages %}
            <p class="text-red-400 text-sm">{{ msg }}</p>
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}

    <div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
      <div class="sm:mx-auto sm:w-full sm:max-w-sm">
        <h2 class="mt-10 text-center text-2xl/9 font-bold tracking-tight text-white">Login to an account</h2>
      </div>

      <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
        <form action="#" method="POST" class="space-y-6">
          <div>
            <label class="block text-sm/6 font-medium text-gray-100">Username</label>
            <div class="mt-2">
              <input id="username" type="text" name="username" required autocomplete="username" class="block w-full rounded-md bg-white/5 px-3 py-1.5 text-base text-white outline-1 -outline-offset-1 outline-white/10 placeholder:text-gray-500 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-500 sm:text-sm/6" />
            </div>
          </div>

          <div>
            <div class="flex items-center justify-between">
              <label for="password" class="block text-sm/6 font-medium text-gray-100">Password</label>
            </div>
            <div class="mt-2">
              <input id="password" type="password" name="password" required autocomplete="current-password" class="block w-full rounded-md bg-white/5 px-3 py-1.5 text-base text-white outline-1 -outline-offset-1 outline-white/10 placeholder:text-gray-500 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-500 sm:text-sm/6" />
            </div>
          </div>

          <div>
            <button type="submit" class="flex w-full justify-center rounded-md bg-indigo-500 px-3 py-1.5 text-sm/6 font-semibold text-white hover:bg-indigo-400 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500 transition-transform">Sign in</button>
          </div>
        </form>
      </div>

        <p class="mt-10 text-center text-sm/6 text-gray-400">
          Don't have an account?
          <a href="/register" class="font-semibold text-indigo-400 hover:text-indigo-300 transition-transform tilt-3d">Register here</a>
        </p>

    </div>
    </body>
</html>
