<!--
    Unicorn
    Ivan Chen, Emaan Asif, Jake Liu, Jalen Chen
    SoftDev 2026
    p04
-->

<!DOCTYPE html>
<html class="h-full bg-gray-900">
    <head>
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    </head>
    <script type="module" src="../static/js/bollinger.js" defer></script>
    <body class="h-full text-white">
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <div class="mb-4 text-center">
            {% for msg in messages %}
              <p class="text-red-400 text-sm">{{ msg }}</p>
            {% endfor %}
          </div>
        {% endif %}
      {% endwith %}
      <nav class="relative bg-gray-800/50 after:pointer-events-none after:absolute after:inset-x-0 after:bottom-0 after:h-px after:bg-white/10">
        <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
          <div class="relative flex h-16 items-center justify-between">
            <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
              <button type="button" command="--toggle" commandfor="mobile-menu" class="relative inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-white/5 hover:text-white focus:outline-2 focus:-outline-offset-1 focus:outline-indigo-500">
                <span class="absolute -inset-0.5"></span>
                <span class="sr-only">Open main menu</span>
                <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" data-slot="icon" aria-hidden="true" class="size-6 in-aria-expanded:hidden">
                  <path d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" data-slot="icon" aria-hidden="true" class="size-6 not-in-aria-expanded:hidden">
                  <path d="M6 18 18 6M6 6l12 12" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
              </button>
            </div>
            <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
              <div class="flex shrink-0 items-center">
              <div class="hidden sm:ml-6 sm:block">
                <div class="flex space-x-4">
                  <!--
                    other pages: class="rounded-md px-3 py-2 text-sm bg-indigo-600 font-medium text-white hover:bg-indigo-700 transition-transform"
                    current page: aria-current="page" class="rounded-md bg-gray-950/50 px-3 py-2 text-sm font-medium text-white transition-transform"
                  -->
                  <a href="/" class="rounded-md px-3 py-2 text-sm bg-indigo-600 font-medium text-white hover:bg-indigo-700 transition-transform">Home</a>
                  <a href="/barChart" class="rounded-md px-3 py-2 text-sm bg-indigo-600 font-medium text-white hover:bg-indigo-700 transition-transform">Bar Chart</a>
                  <a href="/bollinger" aria-current="page" class="rounded-md bg-gray-950/50 px-3 py-2 text-sm font-medium text-white transition-transform">Bollinger Bands</a>
                  <a href="/lineChart" class="rounded-md px-3 py-2 text-sm bg-indigo-600 font-medium text-white hover:bg-indigo-700 transition-transform">Line Chart</a>
                </div>
              </div>
            </div>
            <div class="hidden sm:flex items-center ml-auto">
              <form action="/logout" method="POST">
                <button type="submit" class="rounded-md bg-red-600 px-3 py-2 text-sm font-medium text-white hover:bg-green-700 transition-transform">Login</button>
              </form>
            </div>
          </div>
        </div>
      </nav>
    </body>
</html>
